[submodule "Eigen"]
	path = ext/Eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "cppformat"]
	path = ext/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "ext/cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal.git
