[submodule "Eigen"]
	path = ext/Eigen
	url = https://github.com/RLovelett/eigen.git
	branch = 3.3-beta1
[submodule "cppformat"]
	path = ext/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "ext/cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "ext/seed11"]
	path = ext/seed11
	url = https://github.com/milleniumbug/seed11.git
